<div class="container theme-showcase" role="main">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h3>Editar Avaliação</h3>

        <%= render 'form', review: @review %>

        <%= link_to 'Show', @review %> |
        <%= link_to 'Back', reviews_path %>
    </div>
  </div>
</div>
