<div class="container theme-showcase" role="main">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h3>Avaliar:</h3>
        <h4><%= @nome_escola %></h4>

        <%= render 'form', review: @review %>

        <!--%= link_to 'Back', reviews_path %></div-->
    </div>
  </div>
</div>
