<div class="container theme-showcase" role="main">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron pesquisa">
        <h3>SUAVE - Sistema Unificado de Avalia&ccedil;&atilde;o do Ensino</h3>
        <p class="home-desc"><em>Projeto da disciplina de Engenharia de Software (IF977), ofertada no curso de Sistemas de Informa&ccedil;&atilde;o do Centro de Inform&aacute;tica, UFPE.</em></p>
        <p class="home-desc">Diante da difilculdade de acesso a informa&ccedil;&otilde;es necess&aacute;rias para avaliar a qualidade do ensino, resolvemos criar uma aplica&ccedil;&atilde;o para dispor de forma clara e objetiva dados referentes as institui&ccedil;&otilde;es escolares de todo o Brasil, buscando oferecer um recurso onde a popula&ccedil;&atilde;o possa descobrir mais sobre esses estabelecimentos e participar diretamente da constru&ccedil;&atilde;o desse conhecimento.</p>
        <p class="home-desc">Uma aplica&ccedil;&atilde;o web que disp&otilde;e de um ranking das escolas do Brasil, com o objetivo de auxiliar a escolha da institui&ccedil;&atilde;o de ensino que melhor se adequa aos interesses e necessidades do aluno. Os dados extra&iacute;dos est&atilde;o dispon&iacute;veis no portal de Microdados do <a href="http://portal.inep.gov.br/microdados">INEP</a>.</p>
        <h3>Equipe</h3>
        <ul>
        <li>Jean Silva - Desenvolvedor(<a href="https://github.com/Jcns">@Jcns</a>)</li>
        <li>Jo&atilde;o Paulo - Desenvolvedor(<a href="https://github.com/jpos92">@jpos92</a>)</li>
        <li>Joismar Braga - Product Owner(<a href="https://github.com/joismar">@joismar</a>)</li>
        <li>Hugo Oliveira - Desenvolvedor(<a href="https://github.com/holivra">@holivra</a>)</li>
        </ul>
      </div>
    </div>
  </div>
</div>
