<div class="container theme-showcase" role="main">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <div class="skinny_wrapper wrapper?_pandding">
          <h1>Agradecemos a sua menssagem!</h1>
          <p>Retornaremos assim que possivel.</p>
        </div>
      </div>
    </div>
  </div>