/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background-image: asset-data-url('background.jpg');
  background-repeat: repeat;
  background-size: 15%;
}

.container.theme-showcase {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron {
  -webkit-box-shadow: 0px 3px 14px -5px rgba(0,0,0,0.61);
  -moz-box-shadow: 0px 3px 14px -5px rgba(0,0,0,0.61);
  box-shadow: 0px 3px 14px -5px rgba(0,0,0,0.61);
}

.navbar-nav li a {
  line-height: 25px !important;
}

.navbar-brand {
  line-height: 25px !important;
}

.btn-login {
  padding: 10px !important;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #222;
  color: #999;
  padding: 10px 0 0 0;
}

.login {
  margin-bottom: 10px;
}

.btn-login {
  width: 100% !important;
}

.new_user {
  margin-bottom: 10px;
}

.jumb-login {
  padding-bottom: 60px !important;
}

.login-right {
  float: right;
  margin: 7px 0 7px 0;
}

p.login-text {
  margin: 0;
  color: #b3b3b3;
}

p.login-email-text {
  margin: 0;
  color: #dc716e;
}
