// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.theme-page {

	padding-top: 60px;

	.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
  }

  .theme-showcase > p > .btn {
    margin: 5px 0;
  }
}

.container.theme-showcase {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron.text-center.pesquisa {
    padding-bottom: 70px;
}
