<div class="container theme-showcase" role="main">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron text-center pesquisa">
        <h1>SUAVE</h1>
        <p>Sistema Unificado de Avaliação de Ensino</p>
        <p class="home-desc">Uma aplicação web que dispõe de um ranking das escolas do Brasil, com o objetivo de auxiliar a escolha da instituição de ensino que melhor se adequa aos interesses e necessidades do aluno. Começe pesquisando uma escola do seu interesse abaixo, ou consulte a lista de escolas.<p>
      </div>
    </div>
  </div>
</div>
