<div class="container theme-showcase" role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>SUAVE</h1>
      <p>Acompanhe as estatisticas do ensino brasileiro.</p>

  </div>
</div> <!-- /container -->
