<div class="container theme-showcase" role="main">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron text-center pesquisa">
        <h1>SUAVE</h1>
        <p>Sistema Unificado de Avaliação de Ensino</p>
        <form>
          <div class="input-group">
            <input type="search" class="form-control" size="50" placeholder="Digite o nome da escola..." required>
            <div class="input-group-btn">
              <button type="button" class="btn btn-danger">Buscar Escola</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> <!-- /container -->
